<div id="how-to-play-section" style="display:none;">
        <div class="header-sec">
            <img class="cit-logo" style="display: flex;" src="/etc.clientlibs/xeragotheme/clientlibs/clientlib-smartrush/resources/assets/images/citi-blue-redarc-rgb.png" alt="Citi Logo" />
        </div>
        <div class="container pt-3" style="background-image: url(images/screen2-bg.png); background-repeat: no-repeat; background-size: cover; width: 100vw; height: 100%;">
            <h2 id="howToPlayHeading" class="subtitle" tabindex="0">How to Play</h2>
            <div class="instruction-card">
                <!-- <p class="instruction-text">
                     <b>Navigate around the map to collect</b>
                    grocery, online shopping, transport, and many more icons! 
                    
                </p>-->

                <ul class="instruction-text" style="margin-left:12px;">
                    <li>Swipe left, right, up, or down to move your avatar along the coloured train lines.</li>
                    <li>Collect the grocery, transport, online shopping, and many more icons placed along the coloured train lines.</li>
                    <li>Change directions at the junctions to collect the icons.</li>
                    <li>Each icon = 5 points</li>
                    <li>Score 100 points within 1 minute to win a reward.</li>
                    <li>Keep an eye on the timer! ⏱</li>
                </ul>
                <div class="icons-container">
                    <div class="d-flex">
                        <div class="shine-icon">
                            <img src="/etc.clientlibs/xeragotheme/clientlibs/clientlib-smartrush/resources/images/01-icon.png" alt="Transport" class="icon">
                        </div>
                        <div class="shine-icon">
                            <img src="/etc.clientlibs/xeragotheme/clientlibs/clientlib-smartrush/resources/images/02-icon.png" alt="Shopping" class="icon">
                        </div>
                        <div class="shine-icon">
                            <img src="/etc.clientlibs/xeragotheme/clientlibs/clientlib-smartrush/resources/images/03-icon.png" alt="Grocery" class="icon">
                        </div>
                        <div class="shine-icon">
                            <img src="/etc.clientlibs/xeragotheme/clientlibs/clientlib-smartrush/resources/images/04-icon.png" alt="Entertainment" class="icon">
                        </div>
                    </div>
                    <div class="d-flex">
                        <div class="shine-icon">
                            <img src="/etc.clientlibs/xeragotheme/clientlibs/clientlib-smartrush/resources/images/05-icon.png" alt="Dining" class="icon">
                        </div>
                        <div class="shine-icon">
                            <img src="/etc.clientlibs/xeragotheme/clientlibs/clientlib-smartrush/resources/images/06-icon.png" alt="Travel" class="icon">
                        </div>
                        <div class="shine-icon">
                            <img src="/etc.clientlibs/xeragotheme/clientlibs/clientlib-smartrush/resources/images/07-icon.png" alt="Services" class="icon">
                        </div>
                    </div>
                </div>
                <!-- <p class="points-text m-0"><b>Worth 5 points each</b></p> -->
            </div>
            <!-- <div class="instruction-card d-flex flex-column align-items-center">
                <p class="instruction-text m-0">
                    <b>Score 100 points</b><br />
                    within 1 minute to win a reward. <br />Don’t forget to watch the timer!
                </p>
                <div class="timer-section mt-2">
                    <div class="shine-icon">
                        <img src="images/timer.png" alt="Timer" width="24px">
                    </div>
                </div>
            </div> -->
            <!-- <h2 class="title">Rewards Eligibility</h2> -->
            <img src="/etc.clientlibs/xeragotheme/clientlibs/clientlib-smartrush/resources/images/voucher.png" alt="30% Off" class="reward-image">
            <div class="start-btn d-flex justify-content-center my-2 pb-3">
                <button id="start-game-from-how-to-play" class="start btn btn-primary py-2 border-18">Start Game
                </button>
            </div>
        </div>
    </div>
    <input type="hidden" id="pr_reward_type" />
    <input type="hidden" id="pr_category" />
    <input type="hidden" id="pr_image_url" />
    <input type="hidden" id="pr_reward_title" />     
    <input type="hidden" id="pr_merchant_type" />