<div id="try-again" class="try-again-overlay" style="display: none;">
        <div class="try-again-content">
            <h2 class="mb-4">Keep Trying!</h2>
            <div class="try-again-score mb-4">You scored
                <p><span id="try-again-score">0</span> Points</p>
            </div>
            <p class="mb-5">Play again to get your reward.</p>
            <p class="mb-0">Target: 100 Points</p>
        </div>
        <div class="d-flex justify-content-center">
            <button id="play-again-btn" class="restart-btn">Play Again</button>
        </div>
    </div>