<section class="testimonial-section" data-sly-use.model="com.citi.hub.core.models.TestimonialModel"
    data-sly-use.templates="core/wcm/components/commons/v1/templates.html"
    data-sly-test="${model.title}">
    <div class="container">
        <div class="testimonial-content">
            <div class="testimonial-quote">
                <svg class="quote-icon" width="48" height="48" viewBox="0 0 24 24" fill="none">
                    <path
                        d="M3 21c3 0 7-1 7-8V5c0-1.25-.756-2.017-2-2H4c-1.25 0-2 .75-2 1.972V11c0 1.25.75 2 2 2 1 0 1 0 1 1v1c0 1-1 2-2 2s-1 .008-1 1.031V20c0 1 0 1 1 1z"
                        fill="currentColor" />
                    <path
                        d="M15 21c3 0 7-1 7-8V5c0-1.25-.757-2.017-2-2h-4c-1.25 0-2 .75-2 1.972V11c0 1.25.75 2 2 2h.75c0 2.25.25 4-2.75 4v3c0 1 0 1 1 1z"
                        fill="currentColor" />
                </svg>
                <blockquote>
                    <p class="testimonial-text">${model.title}</p>
                    <p class="testimonial-description" data-sly-test="${model.description}">${model.description}</p>
                </blockquote>
                <div class="testimonial-author" data-sly-test="${model.authorName}">
                    <div class="author-info">
                        <h4 class="author-name">${model.authorName}</h4>
                        <p class="author-title" data-sly-test="${model.authorDesignation}">${model.authorDesignation}</p>
                    </div>
                    <div class="author-image" data-sly-test="${model.authorImageReference}">
                        <img src="${model.authorImageReference}" alt="${model.authorName}">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<sly data-sly-call="${templates.placeholder @ isEmpty = !model.title}"></sly>